<header class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <h1 class="page-header-heading"><span class="typcn typcn-contacts page-header-heading-icon"></span> Bitacora</h1>
        <p class="page-header-description">Listado de registros de empleados del <strong>{{ currentSector?.name }}</strong></p>
      </div>
    </div>
  </div>
</header>


<div class="container-fluid">
  <div class="panel panel-default">
    <div class="panel-heading">Bitacora</div>

    <div class="panel-body">      
      <div class="form-inline">
        <select class="form-control" (change)="changeProfileFilter($event.target.value)" [(ngModel)]="currentProfileFilterControl">
            <option value="all">-- Seleccione Perfil --</option>
            <option *ngFor="let profile of profiles" [value]="profile.id">{{profile.name}}</option>
        </select>
      
        <button class="btn btn-pill" 
          [class.btn-primary]="(currentToggleableFilter === 'today')" 
          [class.btn-transparent]="!(currentToggleableFilter === 'today')" 
          [class.btn-transparent-primary]="!(currentToggleableFilter === 'today')"
          (click)="toggleFilter('today')"
          >
          Hoy
        </button>
        <button class="btn btn-pill" 
          [class.btn-primary]="(currentToggleableFilter === 'last7days')" 
          [class.btn-transparent]="!(currentToggleableFilter === 'last7days')" 
          [class.btn-transparent-primary]="!(currentToggleableFilter === 'last7days')"
          (click)="toggleFilter('last7days')"
          >
          7 Días
        </button>
        <button class="btn btn-pill" 
          [class.btn-primary]="(currentToggleableFilter === 'last15days')" 
          [class.btn-transparent]="!(currentToggleableFilter === 'last15days')" 
          [class.btn-transparent-primary]="!(currentToggleableFilter === 'last15days')"
          (click)="toggleFilter('last15days')"
          >
          15 Días
        </button>
        <button class="btn btn-pill" 
          [class.btn-primary]="(currentToggleableFilter === 'last30days')" 
          [class.btn-transparent]="!(currentToggleableFilter === 'last30days')" 
          [class.btn-transparent-primary]="!(currentToggleableFilter === 'last30days')"
          (click)="toggleFilter('last30days')"
          >
          30 Días
        </button>
        <button class="btn btn-pill" 
          [class.btn-warning]="(currentToggleableFilter === 'incomplete')" 
          [class.btn-transparent]="!(currentToggleableFilter === 'incomplete')" 
          [class.btn-transparent-warning]="!(currentToggleableFilter === 'incomplete')"
          (click)="toggleFilter('incomplete')"
          >
          Incompletos
        </button>
      </div>
      
      <table class="table table-bordered logbook-table">
        <thead>
          <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Hora Entrada</th>
            <th>Hora Salida</th>
            <th>Comentario</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let register of registers">
            <td>{{ register.person?.rut }}</td>
            <td>{{ register.person?.name }}</td>
            <td>
              <span class="text-primary" *ngIf="register.person?.type === 'staff'">Empleado</span>
              <span class="text-info" *ngIf="register.person?.type === 'contractor'">Contratista</span>
              <span class="text-muted" *ngIf="register.person?.type === 'visitor'">Visita</span>
            </td>
            <td>{{ register.time | amDateFormat:'LLLL' }}</td>
            <td>{{ register.resolvedRegister?.time | amDateFormat:'LLLL' }}</td>
            <td>{{ register.comment }}</td>
            <td *ngIf="!register.isResolved">
              <span class="text-warning" style="float: left;">Incompleto</span>
              <button class="btn btn-transparent btn-transparent-success btn-xs" style="float: right;"><span class="fa fa-check"></span> <span class="hidden-xs hidden-sm hidden-md">Resolver</span></button>
            </td>
            <td *ngIf="register.isResolved"><span class="text-success">Resuelto</span></td>
          </tr>
        </tbody>
      </table>
      
      <nav>
        <ul class="pager">
          <li class="previous disabled"><a><span aria-hidden="true">←</span> Siguiente</a></li>
          <li class="next"><a>Anterior <span aria-hidden="true">→</span></a></li>
        </ul>
      </nav>
      
    </div>
  </div>

</div>
