<header class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <h1 class="page-header-heading"><span class="typcn typcn-contacts page-header-heading-icon"></span>Bitácora</h1>
        <p class="page-header-description">Listado de registros de ingreso y salidas en el
          <span class="label label-default"><strong>{{currentSector?.name}}</strong></span>
        </p>
      </div>
      <div class="col-sm-3 col-lg-4">
        <img src="/assets/images/image.png" width="150" alt="Axxezo" class="achievement-image">
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">
  <div class="panel panel-primary">
    <div class="panel-heading">Bitácora</div>

    <div class="panel-body">
      <div class="form-inline">
        <select class="form-control" (change)="changeProfileFilter($event.target.value)" [(ngModel)]="currentProfileFilterControl">
            <option value="all">-- Seleccione Perfil --</option>
            <option *ngFor="let profile of humanizedPersonProfiles | mapToIterable" [value]="profile.key">{{profile.val}}</option>
        </select>

        <button class="btn btn-pill filter-btn"
          [class.btn-primary]="(currentDateTimeFilterName === 'today')"
          [class.btn-transparent]="!(currentDateTimeFilterName === 'today')"
          [class.btn-transparent-primary]="!(currentDateTimeFilterName === 'today')"
          (click)="toggleDateTimeFilter('today')">
          Hoy
        </button>
        <button class="btn btn-pill filter-btn"
          [class.btn-primary]="(currentDateTimeFilterName === 'last7days')"
          [class.btn-transparent]="!(currentDateTimeFilterName === 'last7days')"
          [class.btn-transparent-primary]="!(currentDateTimeFilterName === 'last7days')"
          (click)="toggleDateTimeFilter('last7days')">
          7 Días
        </button>
        <button class="btn btn-pill filter-btn"
          [class.btn-primary]="(currentDateTimeFilterName === 'last15days')"
          [class.btn-transparent]="!(currentDateTimeFilterName === 'last15days')"
          [class.btn-transparent-primary]="!(currentDateTimeFilterName === 'last15days')"
          (click)="toggleDateTimeFilter('last15days')">
          15 Días
        </button>
        <button class="btn btn-pill filter-btn"
          [class.btn-primary]="(currentDateTimeFilterName === 'last30days')"
          [class.btn-transparent]="!(currentDateTimeFilterName === 'last30days')"
          [class.btn-transparent-primary]="!(currentDateTimeFilterName === 'last30days')"
          (click)="toggleDateTimeFilter('last30days')">
          30 Días
        </button>
        <button class="btn btn-pill filter-btn"
          [class.btn-warning]="(currentFilters['incomplete'])"
          [class.btn-transparent]="!(currentFilters['incomplete'])"
          [class.btn-transparent-warning]="!(currentFilters['incomplete'])"
          (click)="toggleIncompleteFilter()">
          Incompletos
        </button>

        <button (click)="exportExcel()" class="btn btn-success pull-right"><span class="fa fa-download"></span> Exportar</button>
      </div>

      <table class="table table-condensed table-bordered table-hover logbook-table">
        <thead>
          <tr>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Perfil</th>
            <th>Entrada</th>
            <th>Sector Entrada</th>
            <th>Comentario Entrada</th>
            <th>Salida</th>
            <th>Sector Salida</th>
            <th>Comentario Salida</th>
            <th>Estado</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let register of registers">
            <td>{{ register.person?.rut }}</td>
            <td>{{ register.person?.name }}</td>
            <td>
              <span class="badge badge-primary" *ngIf="register.person?.type === 'staff'">Empleado</span>
              <span class="badge badge-info" *ngIf="register.person?.type === 'contractor'">Contratista</span>
              <span class="badge badge-faded-blue" *ngIf="register.person?.type === 'visitor'">Visita</span>
            </td>
            <td>{{ register.time | amDateFormat:'DD/MM/YY hh:mm:ss' }}</td>
            <td>{{ register.sector.name }}</td>
            <td>
              <span   *ngIf="!editingComments[register._id]" style="float: left;">{{ register.comments }}</span>
              <button *ngIf="!editingComments[register._id]" (click)="editComment(register)"class="btn btn-transparent btn-xs" style="float: right;"><span class="fa fa-pencil"></span> <span class="hidden-xs hidden-sm hidden-md"></span></button>

              <input type="text" class="form-control" *ngIf="editingComments[register._id]" [(ngModel)]="register.comments" style="float: left;">
              <button *ngIf="editingComments[register._id]" (click)="saveEdittedComment(register)" class="btn btn-transparent btn-transparent-success btn-xs" style="float: right;"><span class="fa fa-check"></span> <span class="hidden-xs hidden-sm hidden-md"></span></button>
              <button *ngIf="editingComments[register._id]" (click)="closeEditComment(register)" class="btn btn-transparent btn-xs" style="float: right;"><span class="fa fa-times"></span> <span class="hidden-xs hidden-sm hidden-md"></span></button>
            </td>
            <td>{{ register.resolvedRegister?.time | amDateFormat:'DD/MM/YY hh:mm:ss' }}</td>
            <td>{{ register.resolvedRegister?.sector?.name }}</td>
            <td>
              <span   *ngIf="register.resolvedRegister && !editingComments[register.resolvedRegister?._id]" style="float: left;">{{ register.resolvedRegister?.comments }}</span>
              <button *ngIf="register.resolvedRegister && !editingComments[register.resolvedRegister?._id]" (click)="editComment(register.resolvedRegister)"class="btn btn-transparent btn-xs" style="float: right;"><span class="fa fa-pencil"></span> <span class="hidden-xs hidden-sm hidden-md"></span></button>

              <input  *ngIf="register.resolvedRegister && editingComments[register.resolvedRegister?._id]" [(ngModel)]="register.resolvedRegister.comments" type="text" class="form-control" style="float: left;">
              <button *ngIf="register.resolvedRegister && editingComments[register.resolvedRegister?._id]" (click)="saveEdittedComment(register.resolvedRegister)" class="btn btn-transparent btn-transparent-success btn-xs" style="float: right;"><span class="fa fa-check"></span> <span class="hidden-xs hidden-sm hidden-md"></span></button>
              <button *ngIf="register.resolvedRegister && editingComments[register.resolvedRegister?._id]" (click)="closeEditComment(register.resolvedRegister)" class="btn btn-transparent btn-xs" style="float: right;"><span class="fa fa-times"></span> <span class="hidden-xs hidden-sm hidden-md"></span></button>

            </td>
            <td *ngIf="!register.isResolved">
              <span class="text-warning" style="float: left;">Incompleto</span>
              <button (click)="resolveRegister(register)" class="btn btn-transparent btn-transparent-success btn-xs" style="float: right;"><span class="fa fa-check"></span> <span class="hidden-xs hidden-sm hidden-md">Resolver</span></button>
            </td>
            <td *ngIf="register.isResolved"><span class="text-success">Resuelto</span></td>
          </tr>
        </tbody>
      </table>

      <nav>
        <route-paginator 
            [onPage]="10" 
            [total]="totalPages * 10" 
            [maxVisible]="5"
            (onChange)="goToPage($event)">
        </route-paginator>        
      </nav>

    </div>
  </div>

</div>
