<aside class="left-sidebar">
  <section class="sidebar-user-panel">
    <div id="user-panel-slide-toggleable">

      <div class="user-panel-company-logo"><img [src]="'data:image/jpg;base64,'+currentCompany?.logo"></div>

      <div class="user-panel-profile-picture"><img src="/assets/images/user-blue.png"></div>

      <span class="user-panel-logged-in-text">
        <span class="fa fa-circle-o text-success user-panel-status-icon"></span>
        <strong>{{currentUser.name}}</strong>
      </span>

      <span class="user-panel-logged-in-text">
        <span class="fa fa-circle-o text-success user-panel-status-icon"></span>
        <strong [ngSwitch]="currentUser.role">
          <span class="label btn-transparent label-primary" *ngSwitchCase="'supervisor'">Supervisor</span>
          <span class="label label-success" *ngSwitchCase="'admin'">Administrador</span>
          <span class="label label-primary" *ngSwitchCase="'!user'">{{currentUser.role}}</span>
        </strong>
      </span>

      <div *ngIf="isMultiCompany" class="form-group">
          <select class="form-control" (change)="changeCompany($event.target.value)" [(ngModel)]="currentCompanyId">
              <option *ngFor="let company of companies" [value]="company._id">{{company.name}}</option>
          </select>
      </div>

      <div class="form-group">
          <select class="form-control" (change)="changeSector($event.target.value)" [(ngModel)]="currentSectorId">
              <option *ngFor="let sector of sectors" [value]="sector._id">{{sector.name}}</option>
          </select>
      </div>

    </div>
  </section>

  <ul class="sidebar-nav">
    <ng-content></ng-content>
  </ul>
</aside>
