<aside class="left-sidebar">
  <section class="sidebar-user-panel">
    <div id="user-panel-slide-toggleable">      
      <div class="user-panel-profile-picture"><img src="/assets/images/user-1-profile.jpg"></div>
      <div class="user-panel-company-logo"><img [src]="'data:image/jpg;base64,'+currentUser.company.logo"></div>

      <span class="user-panel-logged-in-text"><span class="fa fa-circle-o text-success user-panel-status-icon"></span> Ingresado como <strong>{{currentUser.name}}</strong></span>
      
      <a href="app-pages/profile/update" class="user-panel-action-link"><span class="fa fa-pencil"></span> Editar cuenta de usuario</a>
    </div>
  </section>
  
  <ul class="sidebar-nav">
    <ng-content></ng-content>
  </ul>
</aside>