<aside class="left-sidebar">
  <section class="sidebar-user-panel">
    <div id="user-panel-slide-toggleable">      
      <div class="user-panel-profile-picture"><img src="/assets/images/user-1-profile.jpg"></div>
      <div class="user-panel-company-logo"><img [src]="'data:image/jpg;base64,'+currentUser.company.logo"></div>

      <span class="user-panel-logged-in-text"><span class="fa fa-circle-o text-success user-panel-status-icon"></span> Ingresado como <strong>{{currentUser.name}}</strong></span>
      
      <!-- <span class="user-panel-role-badge"><span class="badge badge-faded-blue">{{currentUser.role}}</span></span> -->      
      <div class="form-group" *ngIf="currentUser.role === 'user'">      
          <select class="form-control" (change)="changeSector($event.target.value)" [(ngModel)]="currentUser.currentSector">
              <option *ngFor="let sector of sectors" [ngValue]="sector">{{sector.name}}</option>
          </select>
      </div>
            
      <h4 [ngSwitch]="currentUser.role">
        <span class="label btn-transparent label-primary" *ngSwitchCase="'supervisor'">Supervisor</span>
        <span class="label label-success" *ngSwitchCase="'admin'">Administrador</span>
        <span class="label label-primary" *ngSwitchCase="'!user'">{{currentUser.role}}</span>
      </h4>
      
      
    </div>
  </section>
  
  <ul class="sidebar-nav">
    <ng-content></ng-content>
  </ul>
</aside>