<div class="container-fluid">
  <div class="panel panel-primary">
    <div *ngIf="context.action == 'create'" class="panel-heading">Crear Persona</div>
    <div *ngIf="context.action == 'update'" class="panel-heading">Editar Persona</div>
    <div class="panel-body">
      <div class="form-horizontal">
        <div class="panel">
          <div class="panel-body">
            <div class="alert alert-danger" role="alert" *ngIf="personExistsErrorMsg"> <strong>Error:</strong> Persona ya existente en el sistema.</div>
            <div class="alert alert-danger" role="alert" *ngIf="fieldErrorMsg"> <strong>Error:</strong> Error de validación en campos destacados</div>
            
            
            <div class="form-group" [ngClass]="{ 'has-error': formFieldErrorMapping['rut'] }">
              <label class="col-sm-2 col-xs-12 control-label">Rut: </label>
              <div class="col-sm-10 col-xs-12">
                 <input type="text" class="form-control" [(ngModel)]="context.person.rut">
              </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': formFieldErrorMapping['name'] }">
              <label class="col-sm-2 col-xs-12 control-label">Nombre:</label>
              <div class="col-sm-10 col-xs-12">
                 <input type="text" class="form-control" [(ngModel)]="context.person.name">
              </div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': formFieldErrorMapping['card'] }">
               <label class="col-sm-2 col-xs-12 control-label">Tarjeta:</label>
               <div class="col-sm-10 col-xs-12">
                  <input type="text" class="form-control" [(ngModel)]="context.person.card">
               </div>
            </div>

            <div class="form-group">
              <label class="col-sm-2 col-xs-12 control-label">Estado:</label>
              <div class="btn-group col-sm-10 col-xs-12">
                <button type="button" class="btn" [class.btn-default]="!context.person.active"  [class.btn-success]="context.person.active" (click)="context.person.active = true">Activo</button>
                <button type="button" class="btn" [class.btn-default]="context.person.active"   [class.btn-danger]="!context.person.active" (click)="context.person.active = false">Inactivo</button>
              </div>
            </div>

            <!-- <div class="form-group">
               <label class="col-sm-2 col-xs-12 control-label">Status:</label>
               <div class="col-sm-10 col-xs-12">
                  <input type="text" class="form-control" [(ngModel)]="context.person.active">
               </div>
            </div> -->

            <div class="form-group" [ngClass]="{'has-error': formFieldErrorMapping['profile'] }">
              <label class="col-sm-2 col-xs-12 control-label">Perfil:</label>
              <div class="col-sm-10 col-xs-12">
                <select class="form-control" (change)="context.person.type = $event.target.value" [(ngModel)]="context.person.type">
                    <option *ngFor="let profile of humanizedPersonProfiles | mapToIterable" [value]="profile.key">{{profile.val}}</option>
                </select>
              </div>
            </div>

          </div>

          <div class="panel-footer text-right">
            <button (click)="closeModal()" class="btn btn-transparent"><span class="fa fa-arrow-left"></span> Cancelar</button>
            <button *ngIf="context.action == 'create'" (click)="createPerson()" type="button" class="btn btn-transparent btn-transparent-primary"><span class="fa fa-share"></span> Agregar</button>
            <button *ngIf="context.action == 'update'" (click)="updatePerson()" type="button" class="btn btn-transparent btn-transparent-primary"><span class="fa fa-share"></span> Actualizar</button>
          </div>

        </div>
      </div>
    </div>

  </div>
</div>
