<header class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6 col-lg-8">
        <h1 class="page-header-heading"><span class="typcn typcn-chart-line page-header-heading-icon"></span>Dashboard</h1>
        <p class="page-header-description">Este panel de control provee un resumen de los registros de acceso del
          <span class="label label-default"><strong>{{currentSector?.name}}</strong></span>
        </p>
      </div>
      <div class="col-sm-3 col-lg-4">
        <img src="/assets/images/image.png" width="150" alt="Axxezo" class="achievement-image">
      </div>
    </div>
  </div>
</header>

<div class="container-fluid">

  <!-- row -->
  <div class="row">

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-success">
        <header class="widget-statistic-header">En Planta</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">{{ statistics.totalRegisters }}</span>
          <span class="widget-statistic-description">Numero  <strong>total</strong> de personas en planta</span>
          <span class="widget-statistic-icon fa fa-industry"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-primary">
        <header class="widget-statistic-header">Empleados</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">{{ statistics.staffPercentage | number:'1.0-2' }}%</span>
          <span class="widget-statistic-description">Porcentaje de <strong>empleados</strong> en planta</span>
          <span class="widget-statistic-icon fa fa-user"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-info">
        <header class="widget-statistic-header">Contratistas</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">{{ statistics.contractorsPercentage | number:'1.0-2' }}%</span>
          <span class="widget-statistic-description">Porcentaje de <strong>contratistas</strong> en planta</span>
          <span class="widget-statistic-icon fa fa-user-o"></span>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-3">
      <div class="widget widget-statistic widget-faded-blue">
        <header class="widget-statistic-header">Visitas</header>
        <div class="widget-statistic-body">
          <span class="widget-statistic-value">{{ statistics.visitorsPercentage | number:'1.0-2' }}%</span>
          <span class="widget-statistic-description">Porcentaje de <strong>visitas</strong> en planta</span>
          <span class="widget-statistic-icon fa fa-eye"></span>
        </div>
      </div>
    </div>

  </div>
  <!-- end row -->


  <!-- row -->
  <div class="row">

    <!-- pie-chart -->
    <div class="col-sm-4 col-lg-4">
      <div class="widget widget-default">
        <header class="widget-header">Distribución por perfil</header>

        <div class="widget-body">
          <div style="display: block">
            <canvas baseChart [chartType]="'pie'" [labels]="profileDistPieChart.labels" [data]="profileDistPieChart.data" [options]="profileDistPieChart.options"></canvas>
          </div>
        </div>

      </div>
    </div>

    <!-- bar-chart -->
    <div class="col-sm-8 col-lg-8">
      <div class="widget widget-default">
        <header class="widget-header">Eventos última semana</header>

        <div class="widget-body">
          <div style="display: block">
            <canvas baseChart
                    [datasets]="registersPerWeekBarChart.series"
                    [labels]="registersPerWeekBarChart.labels"
                    [options]="{ scaleShowVerticalLines: false, responsive: true }"
                    [legend]="true"
                    [chartType]="'bar'"></canvas>
          </div>
        </div>
      </div>
    </div>


  </div>
  <!-- end row -->

  <div class="row">
    <div class="col-lg-12">
      <h4>Últimos 15 registros</h4>
      <table class="table table-hover">
        <thead>
          <tr>
            <th>Tipo Registro</th>
            <th>Rut</th>
            <th>Nombre</th>
            <th>Perfil</th>
            <th>Registro</th>
            <th>Sector</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let register of registers | orderBy: 'time':'desc'; let i = index">
            <td>
              <span class="text-success" *ngIf="register.type === 'entry'">Entrada</span>
              <span class="text-muted" *ngIf="register.type === 'depart'">Salida</span>
            </td>
            <td>{{ register.person?.rut }}</td>
            <td>{{ register.person?.name }}</td>
            <td>
              <span class="badge badge-primary" *ngIf="register.person?.type === 'staff'">Empleado</span>
              <span class="badge badge-info" *ngIf="register.person?.type === 'contractor'">Contratista</span>
              <span class="badge badge-faded-blue" *ngIf="register.person?.type === 'visitor'">Visita</span>
            </td>
            <td>{{ register.time | date:'dd/MM/yy HH:mm:ss' }}</td>
            <td><span class="badge badge-default">{{ register.sector.name }}</span></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
