<div class="notifications top-right"></div>

<div class="wrapper">
  <div class="page-wrapper">
    
      <app-top-header [title]="'PanelAdmin'"></app-top-header>
    
      <app-left-sidebar>
        <li class="sidebar-nav-heading">Administración</li>

        <sidebar-section
          [linkTo]="'companies'"
          [sectionName]="'Empresas'" 
          [iconClass]="'fa fa-building'"></sidebar-section>
        
        
        <sidebar-section
          [linkTo]="'users'"
          [sectionName]="'Usuarios'" 
          [iconClass]="'typcn typcn-group'"></sidebar-section>

      </app-left-sidebar>
    
    
    <div class="content-wrapper">       
      <router-outlet></router-outlet>
    </div>
    
  </div>
</div>
