<aside class="left-sidebar">
  
  <section class="sidebar-user-panel">
    <div id="user-panel-slide-toggleable">
      
      <div class="user-panel-profile-picture"><img src="/assets/images/user-1-profile.jpg"></div>
    
      <span class="user-panel-logged-in-text"><span class="fa fa-circle-o text-success user-panel-status-icon"></span> Ingresado como <strong>{{currentUser.name}}</strong></span>
      
      <a href="app-pages/profile/update" class="user-panel-action-link"><span class="fa fa-pencil"></span> Manage your account</a>
    </div>
  </section>
  
  <ul class="sidebar-nav">
    
    <!-- Admin Section -->
    <div *ngIf="currentUser.role === 'admin'">
      <li class="sidebar-nav-heading">Administración</li>
      
      <li class="sidebar-nav-link center">
        <span class="typcn sidebar-nav-link-logo"></span> Empresa: 
        <select>
          <option>Empresa 1</option>
          <option>Empresa 2</option>
          <option>Empresa 3</option>
        </select>
      </li>
            
      <sidebar-group-section [sectionName]="'Empresas'" [iconClass]="'typcn-group'">
        <sidebar-section
          [linkTo]="'listCompanies'"
          [sectionName]="'Lista Empresas'" 
          [iconClass]="'typcn-group'"></sidebar-section>

        <sidebar-section
          [linkTo]="'addCompany'"
          [sectionName]="'Crear Empresa'" 
          [iconClass]="'typcn-user-add'"></sidebar-section>
      </sidebar-group-section>
      
      <sidebar-group-section [sectionName]="'Usuarios'" [iconClass]="'typcn-user-outline'">
        <sidebar-section
          [linkTo]="'listUsers'"
          [sectionName]="'Lista Usuarios'" 
          [iconClass]="'typcn-user-add-outline'"></sidebar-section>

        <sidebar-section
          [linkTo]="'addUser'"
          [sectionName]="'Crear Usuario'" 
          [iconClass]="'typcn-user-outline'"></sidebar-section>
      </sidebar-group-section>
  
    </div>    
    
    
    <!-- Supervisor Section -->
    <div *ngIf="currentUser.role === 'supervisor'">
      <li class="sidebar-nav-heading">Supervisores</li>
      
      
      <li class="sidebar-nav-link ">
        <a href="tables">
        <span class="typcn typcn-th-small sidebar-nav-link-logo"></span> Tables
        </a>
      </li>
        
      <li class="sidebar-nav-link ">
        <a href="chart-js">
        <span class="typcn typcn-chart-line sidebar-nav-link-logo"></span> Chart.js <span class="badge badge-danger sidebar-nav-link-badge">3</span>
        </a>
      </li>
    </div>
    
    <!-- User Section -->
    <li class="sidebar-nav-heading">
      General
    </li>    
    
    <sidebar-section
      [linkTo]="'dashboard'"
      [sectionName]="'Dashboard'" 
      [iconClass]="'typcn-chart-line'" 
      [badgeClass]="'badge-primary'" 
      [badgeValue]="3">
    </sidebar-section>
  
    <sidebar-section
      [linkTo]="'logbook'"
      [sectionName]="'Bitacora'" 
      [iconClass]="'typcn-contacts'">
    </sidebar-section>
    
  
    <sidebar-section
      [linkTo]="'manualRegister'"
      [sectionName]="'Registro Manual'" 
      [iconClass]="'typcn-document-add'">
    </sidebar-section>
  
  </ul>
  
</aside>