<span defaultOverlayTarget></span>

<header class="page-header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-md-9">
        <h1 class="page-header-heading"><span class="typcn typcn-group-outline page-header-heading-icon"></span> Gestión Personal</h1>
        <p class="page-header-description">La siguiente pagina provee la gestión de personas de la empresa.</p>
      </div>
    </div>
  </div>  
</header>

<div class="container-fluid">
  
  <div class="row">
    <div class="col-xs-12 col-md-10">
      <div class="widget widget-default">
        <header class="widget-header">Lista de Personas</header>
        
        <div class="widget-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>RUT</th>
                <th>Nombre</th>
                <th>Tarjeta</th>
                <th>Status</th>
                <th>Perfil</th>
                <th class="text-right">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let person of persons; let i = index;">
                <th scope="row">{{i + 1}}</th>
                <td>{{person.rut}}</td>
                <td>{{person.name}}</td>
                <td>{{person.card}}</td>
                <td>
                  <span *ngIf="person.active">Activo</span>
                  <span *ngIf="!person.active">Inactivo</span>
                </td>
                <td>{{humanizedPersonProfiles[person.type]}}</td>
                <td class="text-right">
                  <button (click)="updatePerson(person)" class="btn btn-transparent btn-xs"><span class="fa fa-pencil"></span> <span class="hidden-xs hidden-sm hidden-md">Editar</span></button> 
                  <div (click)="deletePerson(person)" class="btn btn-transparent btn-transparent-danger btn-xs"><span class="fa fa-trash-o"></span> <span class="hidden-xs hidden-sm hidden-md">Eliminar</span></div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    
    <div class="col-xs-12 col-lg-2 col-md-2">
      <button (click)="createPerson()" class="btn btn-faded-blue btn-block"><span class="fa fa-user-plus"></span> Agregar persona</button>
      <button (click)="importExcel()" class="btn btn-purple btn-block"><span class="fa fa-upload"></span> Importar Excel</button>
      <button (click)="exportExcel()" class="btn btn-success btn-block"><span class="fa fa-download"></span> Exportar a Excel</button>
    </div>
    
  </div>
</div>
